@media (max-width: 1440px) and (max-height: 720px) {
  .logo{
    margin-bottom: 2rem;
        img{
          width: 80px;
    }
  }
  .header__date {
    span {
      font-size: 14px;
      margin-bottom: 1rem;
    }
  }

  .header__date {
    font-size: 4rem;
    line-height: 32px;
  }

  .header__title {
    font-size: 130px;
    line-height: 100px;
    top: 20px;
    left: 60px;
  }

  .header__arrows {
    left: 8.125rem;
  }
}

@media (max-width: 1366px) and (max-height: 620px){

  .header__aside{
    text-align: left;
    display: flex;
    border-right: none;
    height: auto;
    padding-right: 25px;
    background-color: rgba(#fff, .1);
  }
  .header__title{
    top: 100px;
  }
  .menu__list{
    text-align: center;
    li{
      display: inline-block;
    }
    a{
      padding: 1rem;
    }
  }
  .header__search{
    margin-bottom: 0;
    img{
      padding: 35px 15px 0;
    }
  }
  .header__date{
    padding: 35px 15px 0;
  }

  .header__location {
     margin: 85px 0 0;
}
  .slider-item_info-title {
    font-size: 3.2rem;
  }
  .headline-left{
    line-height: 1rem;
  }
  .slider-item_info-text {
    line-height: 3.375rem;
  }
  .header__arrows {
    left: 3.125rem;
  }
}

@media (max-width: 1340px){
    .header__map{
      svg{
        width: 500px;
        height: 250px;
      }
    }
    .header__slider{
      .slider-arrows{
        top: 1.5rem;
        &-left{
          right: 4.8rem;
        }
        &-right{
          right: 2.5rem;
        }
    }
  }
}

@media (max-width: 1050px) and (min-width: 1000px){
  .header__arrows {
    left: 1rem;
    bottom: 5.8rem;
  }
}

@media (max-width: 1050px) {

}










































































