/* Error: expected "}".
 *     ,
 * 501 |     background-image: none;!important;
 *     |                            ^
 *     '
 *   _media.scss 501:28  @import
 *   style.scss 871:11   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "}".\a     \2577 \a 501 \2502      background-image: none;!important;\a     \2502                             ^\a     \2575 \a   _media.scss 501:28  @import\a   style.scss 871:11   root stylesheet';
}
